{% extends 'base.html' %}
{% block title %}Change Venue{% endblock %}
{% block content %}
<div class="card" style="max-width:700px;">
    <h2>Change Venue</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="message error">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p><b>Event:</b> {{ event.title }}<br><b>Current Venue:</b> {{ event.venue }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Update Venue</button>
    </form>
</div>
{% endblock %}
