<h2>Events</h2>

{% for event in events %}

<h3>{{ event.title }}</h3>

<p>{{ event.description }}</p>

<p>
Tags:

{% for tag in event.tags.all %}

<a href="?tag={{ tag.name }}" class="tag">
#{{ tag.name }}
</a>

{% endfor %}

</p>

<hr>

{% endfor %}
{% block extra_css %}
<style>
    .tag{
        background:#007bff;
        color:white;
        padding:4px 10px;
        border-radius:20px;
        text-decoration:none;
        font-size:12px;
        margin-right:5px;
    }
</style>
{% endblock %}
