{% load event_extras %}
<h2>Pending Event Proposals</h2>
{% if messages %}
    {% for message in messages %}
        <p style="color:red;">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}
{% for e in events %}
    <hr>
    <b>{{ e.title }}</b><br>
    Organized By: {{ e.created_by.username }}<br>
    Chief Guest: {{ e.chief_guest }}<br>
    Category: {{ e.category }}<br>
    Department: {{ e.department }}<br>
    Date & Time :{{ e|format_event_datetime }}<br>
    Venue: {{ e.venue }}<br>
    Participation: {{ e.participation_type }}<br>
    Budget: {{ e.budget }}<br>
    Description: {{ e.description }}<br>

    <!-- Approve -->
    <form method="post"
          action="/events/principal/action/{{ e.id }}/approve/">
        {% csrf_token %}
        <button type="submit">Approve</button>
    </form>

    <!-- Reject -->
    <form method="post"
          action="/events/principal/action/{{ e.id }}/reject/">
        {% csrf_token %}
        Remark:
        <input type="text" name="remark" required>
        <button type="submit">Reject</button>
    </form>

{% empty %}
    <p>No pending events.</p>
{% endfor %}
