{% load event_extras %}
<h2>Conducted Events</h2>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<style>
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
</style>
<form method="get">

    🔎 Search:
    <input type="text" name="search"
           value="{{ request.GET.search }}">

    Category:
    <select name="category">
        <option value="">All</option>
        <option value="department">Department</option>
        <option value="nss">NSS</option>
        <option value="ncc">NCC</option>
        <option value="union">Union</option>
        <option value="other">Other</option>
    </select>

    Department:
    <select name="department">
        <option value="">All</option>
        {% for dept in departments %}
            <option value="{{ dept.id }}">
                {{ dept.name }}
            </option>
        {% endfor %}
    </select>

    Participation:
    <select name="participation">
        <option value="">All</option>
        <option value="boys">Boys</option>
        <option value="girls">Girls</option>
        <option value="mixed">Mixed</option>
    </select>

    Start Date:
    <input type="date" name="start_date"
       value="{{ request.GET.start_date }}">

    End Date:
    <input type="date" name="end_date"
       value="{{ request.GET.end_date }}">

    <button type="submit">Search</button>

    <label class="switch">
        <input type="checkbox" name="verified" value="1"
            {% if show_verified %}checked{% endif %}
            onchange="this.form.submit()">
        <span class="slider"></span>
    </label>
    <span style="font-size:14px; color:#555;">
        Verified Only
    </span>

</form>

<hr>

{% for e in events %}
    <a href="{% url 'event_detail' e.id %}">
    <b>{{ e.title }}</b>
    </a> —
    {{ e.department }} —
    {{ e.category }} —
    {{ e.participation_type }} —
    {{ e.status }} —
    {{ e|format_event_datetime }}
    {% if e.status == "verified" %}
        <span style="
            background:#28a745;
            color:white;
            padding:3px 8px;
            border-radius:12px;
            font-size:12px;">
            Verified
        </span>

        {% elif e.status == "completed" %}
            <span style="
                background:#ffc107;
                color:black;
                padding:3px 8px;
                border-radius:12px;
                font-size:12px;">
                Unverified
        </span>
    {% endif %}

    <br>
{% empty %}
    No events found.
{% endfor %}